name: ssh
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning' 
        type: choice
        options:
        - info
        - warning
        - debug 
  schedule:
    - cron: "0 0/5 * * *"

    
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    
    steps:
    - uses: actions/checkout@v1
 
    - name: goorm
      run: |
        cd ~
        sudo apt update
        pip install selenium
        pip install lxml
        wget https://github.com/mozilla/geckodriver/releases/download/v0.30.0/geckodriver-v0.30.0-linux64.tar.gz
        tar -zxvf geckodriver-v0.30.0-linux64.tar.gz
        sudo mv geckodriver /usr/bin
        wget https://github.com/aaaaaaction/abouttab/releases/download/v9.99/txt2.py
        echo ${{ secrets.GOORM_PASSWORD }} > pw.txt
        echo ${{ secrets.GOORM_EMAIL }} > em.txt
        echo ${{ secrets.GOORM_URL }} > url.txt

        echo "${{ secrets.KEY }}" > id_rsa
        mkdir .ssh
        sudo mv id_rsa .ssh
        chmod 600 .ssh/id_rsa
    


    - name: goormpy
      run: |
        cd ~
        echo "${{ secrets.GH_EMAIL }}" > gem.txt
        echo "${{ secrets.GH_USERNAME }}" > gun.txt
        wget https://github.com/aaaaaaction/abouttab/releases/download/v9.99/txt1.py
        python txt1.py
        python txt2.py
        sleep 7h
        
        
        
        
